@font-face {
	font-family: 'P22UndergroundCYPro-Demi';
	src: url('../fonts/P22UndergroundCYPro-Demi.eot');
	src: url('../fonts/P22UndergroundCYPro-Demi.woff') format('woff'), 
		 url('../fonts/P22UndergroundCYPro-Demi.ttf') format('truetype'), 
		 url('../fonts/P22UndergroundCYPro-Demi.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'P22UndergroundCYPro-Medium';
	src: url('../fonts/P22UndergroundCYPro-Medium.woff') format('woff'), 
		 url('../fonts/P22UndergroundCYPro-Medium.ttf') format('truetype'), 
		 url('../fonts/P22UndergroundCYPro-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'P22UndergroundCYPro-Heavy';
	src: url('../fonts/P22UndergroundCYPro-Heavy.eot');
	src: url('../fonts/P22UndergroundCYPro-Heavy.woff') format('woff'), 
		 url('../fonts/P22UndergroundCYPro-Heavy.ttf') format('truetype'), 
		 url('../fonts/P22UndergroundCYPro-Heavy.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'P22UndergroundCYPro-Book';
	src: url('../fonts/P22UndergroundCYPro-Book.eot');
	src: url('../fonts/P22UndergroundCYPro-Book.woff') format('woff'), 
		 url('../fonts/P22UndergroundCYPro-Book.ttf') format('truetype'), 
		 url('../fonts/P22UndergroundCYPro-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}